# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Environment & Secrets
.env
*.token
.databricks/

# Spark local
spark-warehouse/
metastore_db/
derby.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
